@font-face {
    font-family: 'Freight';
    src: url('../fonts/FreightSansProLight-Regular.ttf');
}

/* @font-face {
    font-family: 'Playfair Display SC';
    src: url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
} */
