@import "~bootstrap/scss/bootstrap"
@import "./fonts"
@import "./reset"

$enable-responsive-font-sizes: true
$base-white: #F9F8F3
$base-black: #2F2F2F
$accent: #FFE176
$blue: #141329
$grey: #C2C2C2
$grey: #C2C2C2
