@import "~bootstrap/scss/bootstrap"
@import "./fonts"
@import "./reset"

$enable-responsive-font-sizes: true

$base-white: #F9F8F3
$base-black: #2F2F2F
$accent: #FFE176
$blue: #141329
$grey: #C2C2C2

body
    font-family: Freight

.main
    padding-top: 45px
    height: 100vh
    background-image: url('../img/main_bg.jpg')
    background-size: cover
    background-repeat: no-repeat
    background-position: center top
    color: $base-white

    &-logo
        display: block
        margin: 0 auto
        width: 160px
        height: auto

    &__header
        +rfs(100)
        font-family: Playfair Display SC
        font-weight: 500
        text-align: center

    &__desc
        +rfs(28)
        font-family: Playfair Display SC
        text-transform: uppercase
        text-align: center
        letter-spacing: 0.03em
        margin-bottom: 40px

.menu
    margin-bottom: 60px

    & :last-child:after
        z-index: -1

    &__item
        margin: 0 5px
        font-weight: 800
        +rfs(15)
        text-transform: uppercase
        color: $base-white
        text-decoration: none
        position: relative
        letter-spacing: 0.20em

        &:hover
            text-decoration: none
            color: $accent

        &:after
            position: absolute
            content: ""
            top: 0
            height: 100%
            border-left: 1px solid $base-white
            z-index: 1
            margin: 0 5px

.contact-number
    display: flex

    &__icon

    &__number
        font-weight: 800
        +rfs(20)
        letter-spacing: 0.14em


.logo-line
    margin-bottom: 10px


.button
    width: 210px
    height: 60px
    border-radius: 9px
    outline: none !important
    text-transform: uppercase
    font-weight: bold

    &_cta
        background-color: $accent
        text-decoration: none
        border: 0
        margin-right: 40px
        position: absolute
        top: 0
        left: 0

    &_transperent
        border: 3px solid #FFE176
        background-color: transparent
        color: $base-white

.section-header
    text-align: center
    +rfs(27px)
    font-weight: 800
    margin-bottom: 30px

.about-us
    padding: 80px 0

    &__image
        width: 100%
        height: auto

.info

    &__header
        +rfs(20)
        font-weight: 600
        text-transform: uppercase
        text-align: center
        margin-bottom: 30px
        line-height: 103.19%

    &__desc
        +rfs(18)
        font-weight: 500
        line-height: 114%
        margin-bottom: 30px

.choose-us
    background-color: $blue
    padding: 80px 0
