@import "./mixins/reset"
@import "./mixins/breakpoints"

@import "./css/fonts"

button
    +reset-button-style

a
    +reset-link-style
    +screen-up(sm)
        font-size: 30px


h1
    +screen-up(sm)
        font-size: 20px

h2
    +screen-up(sm)
        font-size: 30px
