input.form-control, textarea.form-control
    outline: none
    text-decoration: none
    box-shadow: none

    &:focus, &:active, &:hover
        outline: none
        text-decoration: none
        box-shadow: none

button
    outline: none
    position: relative
    padding: 0
    color: inherit
    border: none
    background: none
    line-height: inherit
    font-family: inherit
    font-weight: inherit
    font-size: inherit

    &:focus
        outline: none
        box-shadow: none

a
    color: inherit
    text-decoration: none
    cursor: pointer

    &:link, &:visited
        color: inherit
        text-decoration: none
        cursor: pointer
