@import './variables'

@mixin pseudo($content: '')
    content: $content
    position: absolute

@function calculateRem($size)
    $remSize: $size / $baseSize
    @return #{$remSize}rem

@mixin fs($size)
    font-size: $size //Fallback in px
    font-size: calculateRem($size)

@mixin abs-center()
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
